<% ccs = Cc.all %>

<div class="tags">
  <% ccs.each do |cc| %>
   <span class="tag is-medium is-primary is-light"><%= cc.email %>

     <%= link_to '<button class="delete is-small">""</button>.html_safe', cc, method: :delete, class: "delete is-small" %>

   </span>
  <% end %>
</div>
