<%= form_with(model: cc, local: true, data: { turbo_frame: 'emails' }) do |form| %>
  <% if cc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cc.errors.count, "error") %> prohibited this cc from being saved:</h2>

      <ul>
        <% cc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
