
<h1 class="title">CCs</h1>

<div class="columns">

  <div class="column is-one-third">
    <%= turbo_frame_tag "cc_input" do %>
      <%= link_to "New CC", new_cc_path %>
      <hr>
    <% end %>

    <%= turbo_frame_tag "cc_list" do %>
      <div id="cc_list">
        <%= render "cc_list" %>
      </div>
    <% end %>
  </div>
  <div class="column">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mCdA4bJAGGk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>