<h1>Add Ccs</h1>

<%= turbo_frame_tag "cc_input" do %>

  <%= form_with model: @cc, data: { controller: :ccs, action: "turbo:submit-end->reset-form#reset" } do |f| %>

    <div class="field">
      <p class="label">Email:</p>
        <div class="is-flex">
          <%= f.text_field :email, class: "input", placeholder: "recipient address", :required => true %>
          <%= f.submit "✓", class: "button is-primary mx-2" %><%= link_to "✖", ccs_path, class: "button is-danger" %>
        </div>
    </div>

  <% end %>
  <hr>
<% end %>

